body {
    background: var(--background) no-repeat center center fixed;
    padding-top: 15px;
    color: var(--main-color);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: var(--simple-font);
}

.grid {
   column-count: var(--column);
   column-gap: var(--gap);
}

.item {
    margin: 0 0 10px;
    position: relative;
}

h2 {
    margin:0;
    font-size: 40px;
    text-align: center;
}

h1 {
    margin-top: 0;
    text-align: center;
    font-size: 50px;
}


html {
    padding: 0 20px; 
}

.img {
    box-sizing: border-box;
    width: 100% !important;
    height: auto !important;
    border: 5px solid var(--main-color);
}    

.caption {
    display: none;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
}

.caption a {
    color: white;
}

.item:hover .caption {
    display: block;
}

.form-label{
    width: 180px;
    height: 24px;
}
.div-select{
    display: flex;
    align-items: center;
}

.select-option{
    margin: 0;
    margin-bottom: 3px;
    width: 160px;
    border-radius: 6px;
    background-color: black;
    color: white;
}

option{
    color:white;
}

.modal-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: fixed;
    top: 30px;
    display: none;
    z-index: 999;
}

.modal{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    width: 30%;
}

.active{
    display:flex;
}

.active .modal{
    animation: modal .4s;
}

.input-label{
    font-size: 30px;
    margin-bottom: 3%;
    color: black;
}

.input-name {
    display: flex;
    align-items: center;
    margin-right: 5%;
    width: 50%;
}

.modal-component {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 5%;
}

@keyframes modal {
    from{
        opacity: 0;
        transform: translate(0, -60px, 0);
    }
    to{
        opacity: 1;
        transform: translate(0, 0, 0);
    }
}

@media (max-width: 500px){
    .modal {
        padding: 10px;
        width: 80%
    }
}